In [79]:
# acsax

NameError: ignored

In [89]:
from google.colab import files
uploaded =files.upload()

Saving Linkedin_clean_file.csv to Linkedin_clean_file (2).csv

In [90]:
import pandas as pd
import numpy as np
df = pd.read_csv('Linkedin_clean_file.csv')
df.head()

,Unnamed: 0,Job Title Cleaned,Company,Industry,Employees_Avg,Followers_Numbers,New Applicants,City,State,Country,Job_type_cleaned,Type of role cleaned
0,0,client technology platform engineering senior ...,ey,information technology services,10001,7366377,9,trivandrum,kerala,india,onsite,fulltime midsenior level
1,1,associate global intelligence open source coll...,jpmorgan chase & co.,financial services,10001,3791093,10,mumbai,maharashtra,india,onsite,fulltime
2,2,mts software development eng,amd,semiconductors,10001,1068681,41,bengaluru,karnataka,india,onsite,fulltime midsenior level
3,3,tech lead wifi development,vvdn technologies,information technology services,10001,62010,13,chennai,tamil nadu,india,onsite,fulltime midsenior level
4,4,senior application specialist,leica biosystems,medical device,3000,86924,78,mumbai,maharashtra,india,onsite,fulltime

In [91]:
df.shape

(1127, 12)

In [92]:
df.isnull().sum()

Unnamed: 0                0
Job Title Cleaned         0
Company                   0
Industry                  1
Employees_Avg             0
Followers_Numbers         0
New Applicants            0
City                     69
State                   136
Country                   0
Job_type_cleaned          0
Type of role cleaned      0
dtype: int64

In [93]:
df.duplicated().sum()

0

In [94]:
df.duplicated(subset='Job Title Cleaned').sum()
df = df.drop_duplicates(subset='Job Title Cleaned')

In [95]:
#importing libraries for content-based recommendation.
import ast 
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [96]:
df.head().transpose()

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Job Title Cleaned,client technology platform engineering senior ...,associate global intelligence open source coll...,mts software development eng,tech lead wifi development,senior application specialist
Company,ey,jpmorgan chase & co.,amd,vvdn technologies,leica biosystems
Industry,information technology services,financial services,semiconductors,information technology services,medical device
Employees_Avg,10001,10001,10001,10001,3000
Followers_Numbers,7366377,3791093,1068681,62010,86924
New Applicants,9,10,41,13,78
City,trivandrum,mumbai,bengaluru,chennai,mumbai
State,kerala,maharashtra,karnataka,tamil nadu,maharashtra
Country,india,india,india,india,india
Job_type_cleaned,onsite,onsite,onsite,onsite,onsite
Type of role cleaned,fulltime midsenior level,fulltime,fulltime midsenior level,fulltime midsenior level,fulltime

In [97]:
df['Job Title Cleaned'] = df['Job Title Cleaned'].fillna('')
df['State'] = df['State'].fillna('')
df['Combination'] = df['Job Title Cleaned'] + df['State']

In [98]:
df.head(2)

,Unnamed: 0,Job Title Cleaned,Company,Industry,Employees_Avg,Followers_Numbers,New Applicants,City,State,Country,Job_type_cleaned,Type of role cleaned,Combination
0,0,client technology platform engineering senior ...,ey,information technology services,10001,7366377,9,trivandrum,kerala,india,onsite,fulltime midsenior level,client technology platform engineering senior ...
1,1,associate global intelligence open source coll...,jpmorgan chase & co.,financial services,10001,3791093,10,mumbai,maharashtra,india,onsite,fulltime,associate global intelligence open source coll...

In [99]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['Combination'])

In [100]:
tfidf_matrix.shape

(686, 2597)

In [101]:
#find the most similar words 
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [102]:
cosine_sim[0]

array([1.        , 0.        , 0.        , 0.        , 0.0321549 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02908217, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.01758304, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03906706, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02163626, 0.        , 0.        , 0.03097217,
       0.02320001, 0.        , 0.        , 0.        , 0.        ,
       0.09768013, 0.        , 0.        , 0.        , 0.02107772,
       0.        , 0.        , 0.02313149, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04153873,
       0.        , 0.03117974, 0.        , 0.07892065, 0.        ,
       0.        , 0.        , 0.02759218, 0.        , 0.03588734,
       0.04389832, 0.        , 0.        , 0.        , 0.02793965,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02946579,
       0.        , 0.        , 0.02772737, 0.        , 0.02661864,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02277251, 0.        ,
       0.        , 0.        , 0.02634278, 0.02853045, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03216991,
       0.        , 0.01776258, 0.        , 0.02315991, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03526949,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02827175, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03097217, 0.        , 0.        , 0.        ,
       0.02109031, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02550133, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03272588,
       0.03320567, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0255155 , 0.        ,
       0.        , 0.        , 0.03235011, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02355293, 0.02713646,
       0.04331123, 0.02594756, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02971289, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.09403336, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02717297,
       0.        , 0.        , 0.        , 0.        , 0.03062927,
       0.        , 0.        , 0.        , 0.        , 0.03239781,
       0.02173084, 0.03576941, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01981204, 0.        , 0.03170729, 0.        , 0.        ,
       0.01880605, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03302742, 0.        ,
       0.        , 0.        , 0.        , 0.02153656, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02368347, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02822124, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02821974, 0.        ,
       0.        , 0.        , 0.        , 0.03091226, 0.        ,
       0.        , 0.07405377, 0.        , 0.02632852, 0.        ,
       0.        , 0.10412714, 0.        , 0.        , 0.        ,
       0.0321912 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02442778, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.12841679,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02685205, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01628809, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07938383, 0.        , 0.        ,
       0.        , 0.        , 0.02956653, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02344531, 0.        , 0.03628051, 0.        ,
       0.        , 0.        , 0.02850909, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03028466, 0.10907109, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01537559,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02956653,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02641079, 0.02703848, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04245065, 0.        , 0.04591478,
       0.        , 0.        , 0.        , 0.02908217, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0327468 ,
       0.        , 0.06494217, 0.08347277, 0.        , 0.        ,
       0.        , 0.        , 0.02442778, 0.        , 0.        ,
       0.        , 0.        , 0.02606512, 0.        , 0.02905906,
       0.0253731 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02915292, 0.        ,
       0.        , 0.02592069, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0810142 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02111738,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.10325555, 0.        , 0.        , 0.        ,
       0.        , 0.0378449 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03153318, 0.        , 0.10400209,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03028466, 0.        ,
       0.        , 0.        , 0.        , 0.16772342, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0256461 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.06276718, 0.        , 0.02946579, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02342775, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02313563,
       0.        , 0.        , 0.        , 0.        , 0.02946579,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.11173009, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02662075, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02974911, 0.        , 0.02921386,
       0.        ])

In [103]:
df = df.reset_index()

In [104]:
titles = df[['Job Title Cleaned', 'Company', 'Industry', 'Type of role cleaned']]
indices = pd.Series(df.index, index=df['Job Title Cleaned'])

In [105]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    job_indices = [i[0] for i in sim_scores]
    return titles.iloc[job_indices]
    #return titles.iloc[job_indices]

In [106]:
get_recommendations('senior application specialist')

,Job Title Cleaned,Company,Industry,Type of role cleaned
39,application architect,bdx data centers,computer software,fulltime
46,application engineers,transreach talent llc,information technology services,fulltime
331,technology sales specialist,ashnik,information technology services,fulltime
371,senior software engineer application development,club car,automotive,fulltime associate
408,solution sales specialist,tech data apac​,information technology services,fulltime entry level

In [107]:
get_recommendations('data analyst')

,Job Title Cleaned,Company,Industry,Type of role cleaned
234,senior clinical data analyst,parexel,pharmaceuticals,fulltime midsenior level
196,data research analyst,berkadia,financial services,fulltime midsenior level
11,seo analyst,life at woods,government administration,fulltime
197,big data developer analyst,experian,information services,fulltime midsenior level
194,senior bi analyst,hexagon asset lifecycle intelligence,computer software,fulltime midsenior level

In [108]:
get_recommendations('associate')

,Job Title Cleaned,Company,Industry,Type of role cleaned
512,junior associate,iron mountain,information technology services,fulltime entry level
403,uk corporate taxformct 600senior associate,pwc acceleration centers in india,information technology services,fulltime entry level
0,client technology platform engineering senior ...,ey,information technology services,fulltime midsenior level
1,associate global intelligence open source coll...,jpmorgan chase & co.,financial services,fulltime
2,mts software development eng,amd,semiconductors,fulltime midsenior level

In [109]:
import pickle
pickle.dump(df, open('Model_test_2.pkl', 'wb'))
pickle.dump(cosine_sim, open('cosine_sim.pkl', 'wb'))

In [110]:
pickle.dump(cosine_sim, open('cosine1_sim.pkl', 'wb'))